* {
    margin: 0;
    padding: 0;
}

.dice{
    float:left;
    width: 64px;
    background: #f5f5f5;
    border: #999 1px solid;
    padding: 1px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.red-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: rgb(243, 58, 33);
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
